.containert{
    background: #030303;
 background-image: url("../imagen/foto.jpeg");
  background-size: cover;
  height: 100%;
  overflow: hidden; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}